<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.pilo.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="app.somya.com.somya.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".Pilo"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.SingleSearchActivity"></activity>
        <activity android:name=".activities.VerifyActivity" />
        <activity android:name=".activities.SearchActivity" />
        <activity android:name=".activities.VideoPlayerActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ForgotPasswordActivity" />
        <activity android:name=".activities.MessagesActivity" />
        <activity android:name=".activities.BookmarksActivity" />
        <activity android:name=".activities.LikesActivity" />
        <activity android:name=".activities.ContactUsActivity" />
        <activity android:name=".activities.EditProfileActivity" />
        <activity android:name=".activities.RegisterActivity" />
        <activity
            android:name=".activities.LoginActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activities.MainActivity" />
    </application>

</manifest>